name: Ruff Lint

on:
  push:
  pull_request:
  schedule:
    - cron: "0 1 * * *"

jobs:
  ruff_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Ruff
        run: pip install ruff

      - name: Run Ruff Linter
        run: ruff check custom_components/ --output-format=github

      - name: Run Ruff Formatter Check
        run: ruff format custom_components/ --check --diff
